In [2]:
#@Author akarshit kashyap

# Condition Equal

a = 5
a == 6

False

In [3]:
# Greater than Sign

i = 6
i > 5

True

In [4]:
# Greater than Sign

i = 2
i > 5

False

In [5]:
# Inequality Sign

i = 2
i != 6

True

In [6]:
# Inequality Sign

i = 6
i != 6

False

In [7]:
# Use Equality sign to compare the strings

"ACDC" == "Akarshit kashyap"

False

In [8]:
# Use Inequality sign to compare the strings

"ACDC" != "Akarshit Kashyap"

True

In [9]:
# Compare characters

'B' > 'A'

True

In [10]:
# Compare characters

'BA' > 'AB'

True

In [11]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [12]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [13]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [14]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [15]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [16]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [17]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [18]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

In [19]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

In [20]:
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

In [21]:
if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

In [22]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979